@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

// Override Bootstrap's Sass default variables
$white:  hsl(0, 0%, 98%);
$black: hsl(0, 0%, 8%);
$gray: hsl(0, 0%, 41%);

$font-family-sans-serif: 'Epilogue', sans-serif;
$headings-line-height: 1.1;

$border-radius-xl: .75rem; // rounded-4

$navbar-padding-y: 1rem;
$navbar-nav-link-padding-x: 1.5rem;
$nav-link-font-size: 0.875rem;

$dropdown-min-width: 100%;
$dropdown-item-padding-x: 1.5rem;
$dropdown-item-padding-y: 0.5rem;
$dropdown-bg: hsl(0, 0, 100%);
$dropdown-border-width: 0;
$dropdown-border-radius: 0.75rem;
$dropdown-box-shadow: 1rem 3rem 3rem 0 rgba(0, 0, 0, 0.5);
$dropdown-link-color: $gray;

$offcanvas-horizontal-width: 300px;


// Toggle global options
$enable-negative-margins: true;


// Required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Include any default map overrides here
$gutters: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 5,
);

@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';


// Optional
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/tables';
// @import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar'; // Requires nav
// @import '~bootstrap/scss/card';
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/accordion';
// @import '~bootstrap/scss/pagination';
// @import '~bootstrap/scss/badge';
// @import '~bootstrap/scss/alert';
// @import '~bootstrap/scss/progress';
// @import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
// @import '~bootstrap/scss/toasts';
// @import '~bootstrap/scss/modal'; // Requires transitions
// @import '~bootstrap/scss/tooltip';
// @import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
// @import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/offcanvas'; // Requires transitions
// @import '~bootstrap/scss/placeholders';

// Helpers
@import '~bootstrap/scss/helpers';


$utilities: map-merge(
    $utilities,
    (
        "color": (
            property: color,
            class: text,
            local-vars: (
                "text-opacity": 1
            ),
            values: map-merge(
                $utilities-text-colors,
                (
                    "muted": $text-muted,
                    "reset": inherit,
                    "gray": $gray,
                )
            )
        ),
        "font-size": (
            rfs: true,
            property: font-size,
            responsive: true,
            class: fs,
            values: map-merge(
                $font-sizes,
                (
                    "p": $font-size-base * 1.125,
                    7: $font-size-base * 0.875,
                )
            )
        ),
        "font-weight": (
            property: font-weight,
            class: fw,
            values: map-merge(
                map-get(map-get($utilities, "font-weight"), "values"),
                (
                    "medium": 500,
                )
            )
        ),
        "bg-opacity": (
            css-var: true,
            class: bg-opacity,
            values: map-merge(
                map-get(map-get($utilities, "bg-opacity"), "values"),
                (
                    80: .8,
                )
            )
        )
    )
);


// Utilities
@import '~bootstrap/scss/utilities/api';


// Custom Styles
.dropdown-toggle {
    &::after {
        display: none;
    }
}

.hero {
    &__title {
        font-size: 3rem;

        @include media-breakpoint-up(lg) {
            font-size: 4rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 4.5rem;
        }
    }

    &__btn {
        padding: 0.75rem 1.5rem;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}
